@model IEnumerable<WebStore.Models.EmployeeView>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.Patronymic</td>
                <td>@Html.ActionLink("Детали", "Details", new { id = item.Id }) </td>
            </tr>
        }
    </table>
</body>
</html>
